.infoBoxWrapper						{margin:0px 0px 10px 0px;padding:0px 0px 0px 0px;}
/* ************************************************************************************* */
.infoHeading,
.infoBoxWrapper .infoBoxHeading  			{color:#000000; font-size:1.5em; line-height:1.2em; font-weight:normal; text-transform:uppercase;
  											 overflow:hidden;padding:2px 0px 0px 0px;margin-bottom:10px;}
.infoBoxWrapper .infoBoxHeading a 			{color:#000000;}
.infoBoxWrapper.list .infoBoxHeading {color:#000000; font-size:1.5em; line-height:1.2em; font-weight:normal; text-transform:uppercase;
  											 overflow:hidden;padding:11px 0px 0px 7px;margin-bottom:4px;}
.infoBoxWrapper.box3 .infoBoxHeading  		{color:#000000; font-size:1.5em; line-height:1.2em; font-weight:normal; text-transform:uppercase;
  											 overflow:hidden;padding:11px 0px 0px 7px;margin-bottom:4px;}
.infoBoxWrapper.box5 .infoBoxHeading  		{color:#000000; font-size:1.5em; line-height:1.2em; font-weight:normal; text-transform:uppercase;
  											 overflow:hidden;padding:11px 0px 0px 0px;margin-bottom:4px;}
/* ************************************************************************************* */
.infoContents,
.infoBoxWrapper .infoBoxContents 					{padding:12px 31px 10px 21px;}
.infoBoxContents .wrapper_box_content-txt 			{padding: 0px 0px 0px 0px;}
.infoBoxWrapper.box1 .infoBoxContents 					{padding:12px 21px 10px 0px;}
.infoBoxWrapper.box5 .infoBoxContents 					{padding:12px 31px 10px 0px;}
.infoBoxContents 									{font-size:1em;  line-height: 1.6em; color:#959595; overflow:hidden;}
/* ************************************************************************************* */
.infoBoxWrapper.box3								{}

.infoBoxWrapper.cart_box .infoBoxContents 		    {padding:0px 31px 10px 21px;}
.infoBoxWrapper.list .infoBoxContents 				{padding:4px 31px 0px 0px;}
.infoBoxWrapper.box2 .infoBoxContents 				{padding:0px 0px 1px 0px;}
.infoBoxWrapper.box3 .infoBoxContents 				{padding:4px 31px 0px 0px;}
/* ************************************************************************************* */
.infoBoxWrapper.cart_box  							{}
.infoBoxWrapper.cart_box .infoBoxHeading			{}
.infoBoxWrapper.cart_box .infoBoxHeading a			{}

.infoBoxWrapper.cart_box .infoBoxContents 			{ color:#fff; font-size:1em; background:url('../images/tail_cart.gif') 0px 0px repeat-x #06579f; width:150px; text-align:center; padding-top:10px;border-radius:18px;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	position:relative;}
.infoBoxWrapper.cart_box .infoBoxContents strong	{ color:#fff;}
.cart_price_box .productSpecialPrice{
color:#fff!important;
font-size:1em;
font-weight:bold;
line-height:2em;
}
.infoBoxWrapper.cart_box .infoBoxContents a			{ color:#fff; font-size:1em; text-decoration:none;}
.infoBoxWrapper.cart_box .infoBoxContents a:hover	{text-decoration:underline;}
.cart_box_separator									{border-bottom:1px solid #fff;padding: 0px 0px 5px 0px;}
.cart_price_box										{padding: 5px 0px 0px 0px;}
SPAN.newItemInCart 									{font-size:1em;color: #ff0000;}
span.newItemInCart:hover {color:#fff;font-size:1em;}
/* ************************************************************************************* */
/* ************************************************************************************* */

/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxContents li							{padding:0px 0px 0px 0px;position:relative;}

.infoBoxContents li, 
.infoBoxContents li a, 
.infoBoxContents li a font					{font-weight:normal; vertical-align:top;}

.infoBoxContents li a b						{font-weight:bold;}									
.infoBoxContents ul							{list-style:none;padding:0;}
.infoBoxContents .categories				{margin:0px 0px 0px 0px;}
.infoBoxContents .bestsellers				{margin:0px 0px 0px 0px;}
.infoBoxContents .information				{margin:0px 0px 0px 0px;}
.infoBoxContents .manufacturers ul			{margin:0px 0px 0px 0px;}
.infoBoxContents li a strong,
.infoBoxContents li a 						{display:inline-block; overflow:hidden;}
.infoBoxContents ul li .div 				{padding-left:15px;}

.infoBoxContents a						{font-size:1em;}
.infoBoxContents li 					{font-size:1em;line-height:1.13em; background:url('../images/bg_list.png') 0 100% repeat-x transparent;}
.infoBoxContents li a					{color:#000000; text-decoration:none; font-weight:bold;
									 	 padding:6px 0px 7px 9px;}
.infoBoxContents li a:hover				{color:#266eae; text-decoration:none;}
.infoBoxContents li a b					{color:#266eae; font-weight:bold;margin: -6px 0px -6px 0px;padding:  6px 0px 6px 0px;text-decoration:none;}
.infoBoxContents li a:hover b			{color:#266eae;}

.category_arrow							{display:inline-block; width:16px; height:14px; top:6px; right:0px;background:url('../images/bg_list_arrow.png') 0px 3px no-repeat transparent;position:absolute; line-height:0px; font-size:0px;}

.infoBoxContents li.last_list  			{ background:none;}
/* ************************************************************************************* */
.infoBoxContents .bestsellers li 			{overflow:hidden;}
.infoBoxContents .bestsellers li a 			{display:inline-block;padding:6px 0px 7px 9px;}
.infoBoxContents .bestsellers li b			{display:inline-block;padding:9px 0px 8px 0px; float:left;}
.infoBoxContents .bestsellers li a:hover 	{}
/* ************************************************************************************* */
.infoBoxContents .button_search			{width:15%; text-align:right;}
.infoBoxContents .text_search			{text-align:left; width:85%;}
.infoBoxContents .input					{color:#b9b9b9;margin:0px 0px 4px 0px;border:1px solid #e3e3e3;background:#fff;height:20px; width:100%; line-height:15px;}

.infoBoxContents .advserch				{padding:5px 0px 0px 0px;}
.infoBoxContents .advserch a			{color:#000;text-transform:lowercase; text-decoration:underline;font-size:1em;}
.infoBoxContents .advserch a:hover		{color:#b2b2b2;text-decoration:none;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxContents .name span a				{color:#000;font-weight:bold; font-size:1em; text-decoration:none;}
.infoBoxContents .name span a:hover			{color:#000; text-decoration:underline;}

.infoBoxContents SPAN.productSpecialPrice 		{color:#266eae;font-size:1em; line-height:2.0em; font-weight:bold;}
.infoBoxContents del							{color:#000; margin-top:-1px; font-size:12px; float:left; width:30px;}
.cart
.infoBoxContents SPAN.productSpecialPrice 		{color:#fff;}

.infoBoxContents .select					{width:200px; font-size:0.92em;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxContents .name_padd							{padding:1px 10px 4px 0px;vertical-align:top; text-align:left;}
.infoBoxContents .pic_padd							{padding:1px 0px 0px 0px; text-align:left;}
.infoBoxContents .desc_padd							{padding:0px 0px 7px 0px;}
.infoBoxContents .block_padd						{padding:0px 0px 11px 0px;}
.infoBoxContents .price_padd						{padding:5px 0px 6px 10px;vertical-align:middle; text-align:left; border:1px solid #CCC;}
.infoBoxContents .price_padd b						{font-size:1em; font-weight:normal; float:left; line-height:2em;}
.infoBoxContents .button__padd						{width:100%;padding:10px 0px 11px 0px; text-align:left; overflow:hidden; margin-left:0px;}
.infoBoxContents .button__padd a					{display:inline-block;}

.infoBoxContents .button__padd .bg_button2-act,
.infoBoxContents .button__padd .bg_button2			{float:left;}
.infoBoxContents .button__padd .bg_button22-act,		
.infoBoxContents .button__padd .bg_button22			{float:left;}
.infoBoxWrapper.box2{ width:200px;}
.infoBoxContents .stars_padd						{padding:5px 0px 10px 0px;}
/* ************************************************************************************* */
.box_icon					{display:inline-block; float:left;padding:0px 20px 0px 0px;}
.box-padd					{padding: 5px 10px 0px 10px;}
/* ************************************************************************************* */